[user]
    name = Arne Brasseur
    email = arne.brasseur@rendaosolutions.com
[color]
    ui = auto
[alias]
    oneline = log --pretty=oneline
    stat = log --stat
    s = status -s
    co = checkout
    contributors = shortlog -n -s --no-merges
    tree = log --graph --oneline --all
[core]
    editor = emacsclient
[push]
    default = simple
[include]
    path = .gitsecrets


