[user]
name = Arne Brasseur
email = arne@arnebrasseur.net

[color]
ui = auto

[alias]
oneline = log --pretty=oneline
stat = log --stat
s = status -s
co = checkout
contributors = shortlog -n -s --no-merges
tree = log --graph --oneline --all

[core]
editor = emacsclient

[push]
default = simple

[include]
path = .gitsecrets

[diff]
renames = copies
mnemonicprefix = true   # Use mnemonic prefixes (index, work tree, commit, object) instead of the standard a and b notation.

[branch]
autosetupmerge = true   # When branching off a remote branch, automatically let the local branch track the remote branch.

[rerere]
enabled = true          # Enable the recording of resolved conflicts, so that identical hunks can be resolved automatically later on.

[merge]
stat = true             # Always show a diffstat at the end of a merge
