# Loaded before X resources and .xsessionrc
# see http://askubuntu.com/questions/150487/what-happens-under-the-covers-to-log-me-in-and-start-up-the-unity-graphics-user

# sh -c 'while true; do sleep 0.5; setxkbmap -option compose:ralt -option caps:ctrl_modifier ; done' &

# mkdir -p /tmp/arne

# setxkbmap -option "compose:ralt"

# export GTK_IM_MODULE=ibus
# export QT4_IM_MODULE=ibus
# export QT_IM_MODULE=ibus
# export XMODIFIERS=@im=ibus

xrandr --output DisplayPort-0 --mode 3840x2160
xrandr --output HDMI-A-0 --mode 3840x2160 --right-of DisplayPort-0 --primary