# Loaded before X resources and .xsessionrc
# see http://askubuntu.com/questions/150487/what-happens-under-the-covers-to-log-me-in-and-start-up-the-unity-graphics-user
setxkbmap -option "compose:ralt"

