{;; :paths []
 :launchpad/options
 {:emacs true
  :portal true
  :namespace-maps false}

 #_#_:mvn/repos
 {"cs-mvn" {:url "s3://cs-mvn/release"}
  "datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}

 :deps {} #_{com.lambdaisland/classpath {:local/root "/home/arne/github/lambdaisland/classpath"}
             openjdk/openjdk-17-docs {:local/root "/usr/share/doc/openjdk-17-jre-headless/api"}
             vvvvalvalval/scope-capture {:mvn/version "0.3.2"}
             #_#_        com.github.jnr/jnr-posix {:mvn/version "3.1.14"}}

 :aliases
 {:new
  {:extra-deps {seancorfield/clj-new {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "clj-new.create"]}

  :depot/check
  {:extra-deps {Olical/depot {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "depot.outdated.main"]}

  :depot
  {:extra-deps {Olical/depot {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "depot.outdated.main" "--write" "--every"]}

  :vulcan
  {:extra-deps
   {omnyway-labs/vulcan
    {:mvn/version "RELEASE"}#_
    {:git/url "https://github.com/omnyway-labs/vulcan.git",
     :sha     "31b449b979a4263c6ecbd1e1ec1b065391e3dc92"
     :tag     "master"}},
   :main-opts ["-m" "vulcan.main"],
   :jvm-opts
   ["-client"
    "-XX:+UseSerialGC"
    "-XX:CICompilerCount=1"
    "-XX:+TieredCompilation"
    "-Xshare:off"
    "-Xverify:none"
    "-XX:TieredStopAtLevel=1"]}

  :portal
  {:extra-deps {djblue/portal {:mvn/version "RELEASE"}}}

  :antq
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}

  :upgrade
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core" "--skip=pom" "--skip=github-action" "--upgrade" "--force" "--download"]}

  :clj-new {:extra-deps {com.github.seancorfield/clj-new
                         {:mvn/version "1.3.415"}}
            :exec-fn clj-new/create
            :exec-args {:template "app"}}
  }}
